.bannerBgImage{
    height: 100vh;
    background: url("/images/bannerImage.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.bannerTitle {
    font-size: 4rem;
}
.bannerDesc {
    font-size: 2rem;
}

.card {
     cursor: pointer;
}

.card:hover{
    background-color: palevioletred;
    border: 5px solid yellowgreen;
}

.bicon {
    width: 10%;
    text-align: center;
    font-size: 40px;
}


.card-img-top{
    height: 50vh;
}
follow-us-section {
    background-color:white;
  }
  .follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .follow-us-icon-container {
    background-color:black;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
  }
  .icon {
    color: rgb(173, 216, 230);
    font-size: 35px;
  }